# 当设置 shamefully-hoist=true 时，pnpm 会将所有的依赖项提升（hoist）到项目的根目录中。
# 这种行为与 npm 或 yarn 类似，可以让项目中的所有包都能在根目录下找到依赖项，从而解决某些依赖包不兼容 pnpm 默认行为的问题
# 具体来说，pnpm 默认会创建一个隔离的 node_modules 结构，以确保不同包之间的依赖不会相互影响。
# 然而，这种方式有时会导致某些依赖项无法正常工作，特别是那些依赖于全局可访问依赖项的旧包或工具。
# 通过启用 shamefully-hoist=true，pnpm 会像 npm 或 yarn 那样，将依赖项扁平化，以提高兼容性，但这也会导致依赖的管理变得不那么严格。
# 举例来说，在使用ts-morpth生成类型文件时，一定报错提示vue没有导出xxx，就是没有配置shamefully-hoist=true的原因。
shamefully-hoist=true

strict-peer-dependencies=false
shell-emulator=true
package-manager-strict=false
